:root {
    --imageh:16.295vw;
    --imagew:65vw;
}

.banner-container {
    position: relative;
}

.banner {
    position: relative;
    background:black;
    height:var(--imageh);
    overflow:hidden
}

.banner img {
    width:var(--imagew);
    content:var(--image);
    min-height:var(--imageh);
}

.banner-img {
    transition: opacity 0.1s linear;
}

.title {
    font-family:'Bytesized';

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    font-size:4vw;
    height:4vw;
    font-weight:850;

    color:white;

    background:var(--image);
    -webkit-background-clip: text;
    background-clip:text;

    transition:none;
    background-size:var(--imagew) var(--imageh);
    background-position:center calc(var(--imageh) / 2 + 4vw / 2);
}

/*
Move buttons
*/
.move-buttons span {
    position:absolute;
    top:calc(var(--imageh) / 2);
    font-size:3vw;

    padding:0.2rem;

    transition:background-color 0.2s linear, color 0.2s linear;

    user-select:none;
}

.move-buttons span.left {
    transform:translate(-120%, -50%);
}

.move-buttons span.right {
    right:0;
    transform:translate(120%, -50%);
}

.move-buttons span:hover {
    background:black;
    cursor:pointer;
    color:white;
}

/*
Hover animations
*/
.title, .banner-img, .white {
    transition: opacity 0.3s linear, color 0.3s linear, content 5s linear;
}

.banner:hover .white {
    opacity:0;
}

.link-image .white {
    opacity:1;
}

.banner:hover .banner-img {
    opacity: 0;
}

.banner:hover .title {
    color:transparent;
}

/*
Links
*/
.link-image {
    position:absolute;
    top:0;
    left:0;
    height:var(--imageh);

    --top-padding:4vw;
    --between:10vw;
    mask-image:url(https://raw.githubusercontent.com/primer/octicons/refs/heads/main/icons/mark-github-24.svg), 
    url(https://raw.githubusercontent.com/simple-icons/simple-icons/refs/heads/develop/icons/discord.svg),
    url(https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/src/communication/alternate_email/materialiconsround/24px.svg);
    mask-position:
        calc(50% - (var(--between) / 2)) calc(50% + var(--top-padding)), 
        50% calc(50% + var(--top-padding)),
        calc(50% + (var(--between) / 2)) calc(50% + var(--top-padding));

    mask-repeat:no-repeat;
    mask-size:2vw;
}

.link-image .white {
    width:100%;
    height:100%;
    background-image:linear-gradient(white, white);

    position:absolute;
    top:0;
    left:0;
}

.link-image .link {
    position:absolute;
    width:2vw;
    height:2vw;
    top:calc(50% + var(--top-padding) - 1vw);

    cursor:pointer;
}

.github {
    left:calc(50% - (var(--between) / 2) - 1vw);
}

.discord {
    left:calc(50% - 1vw);
}

.email {
    left:calc(50% + (var(--between) / 2) - 1vw);
}

/*
Tooltips
*/

.tooltip {
    z-index:11;
    position:absolute;
    top:calc(var(--imageh));
    left:50%;
    transform:translateX(-50%);

    color:white;
    text-decoration:none;

    transition: opacity 0.2s linear;
    background:black;
    padding:0.3rem;
}

.tooltip p {
    user-select: none;
}

span.copy {
    user-select:text;
    background:white;
    color:black;
}
