/*
Links
*/
.link-image {
    position:absolute;
    top:0;
    left:0;
    height:var(--imageh);

    --top-padding:4vw;
    --between:10vw;
    mask-image:url(https://raw.githubusercontent.com/primer/octicons/refs/heads/main/icons/mark-github-24.svg), 
    url(https://raw.githubusercontent.com/simple-icons/simple-icons/refs/heads/develop/icons/discord.svg),
    url(https://raw.githubusercontent.com/google/material-design-icons/refs/heads/master/src/communication/alternate_email/materialiconsround/24px.svg);
    mask-position:
        calc(50% - (var(--between) / 2)) calc(50% + var(--top-padding)), 
        50% calc(50% + var(--top-padding)),
        calc(50% + (var(--between) / 2)) calc(50% + var(--top-padding));

    mask-repeat:no-repeat;
    mask-size:2vw;
}

.link-image .white {
    width:100%;
    height:100%;
    background-image:linear-gradient(white, white);

    position:absolute;
    top:0;
    left:0;
}

.link-image .link {
    position:absolute;
    width:2vw;
    height:2vw;
    top:calc(50% + var(--top-padding) - 1vw);

    cursor:pointer;
}

.github {
    left:calc(50% - (var(--between) / 2) - 1vw);
}

.discord {
    left:calc(50% - 1vw);
}

.email {
    left:calc(50% + (var(--between) / 2) - 1vw);
}

.tooltip {
    z-index:11;
    position:absolute;
    top:calc(var(--imageh));
    left:50%;
    transform:translateX(-50%);

    color:white;
    text-decoration:none;

    transition: opacity 0.2s linear;
    background:black;
    padding:0.3rem;
}

.tooltip p {
    user-select: none;
}

span.copy {
    user-select:text;
    background:white;
    color:black;
}

/*
Dark mode
*/
.dark-mode {
    position:absolute;
    top:1rem;
    right:1rem;
    cursor:pointer;
}
