* {
    box-sizing: border-box;
}

html {
    width:100%;
    font-family:monospace;
}

body {
    width:65%;
    margin:auto;
    padding-top:3rem;
}

p {
    margin:0;
    padding:0;
    font-size:max(0.7rem, 0.85vw);
}

h3 {
    font-size:max(1rem, 1.3vw);
    margin:0;
    margin-bottom:1rem;
}

/* Main container */

.main {
    margin-top:2rem;
}

/* 
Pages nav 
*/
.pages {
    margin-top:1rem;
    margin-bottom:.5rem;
    border:1px solid black;
    padding:0;

    display:grid;
    grid-template-columns:repeat(3, 1fr);

    width:100%;
    height:max-content;
}

.pages a {
    color:black;
    text-decoration:none;
    background:white;

    padding:0.5rem 0.2rem;

    display:inline-flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    
    text-align:center;
    position:relative;  
}

.pages a:hover {
    background:black;
    color:white;

    --line-col:rgb(35, 35, 35);
    background-image: repeating-linear-gradient(
        45deg, 
        var(--line-col) 0px,
        var(--line-col) 2px,
        transparent 2px,
        transparent 9px
    ), repeating-linear-gradient(
        -45deg, 
        var(--line-col) 0px,
        var(--line-col) 2px,
        transparent 2px,
        transparent 9px
    );
}

.pages a.selected::after {
    content:"";
    width:0.4rem;
    height:0.4rem;
    background-color: black;
    display:inline-block;
    border-radius:50%;
}


.pages a.selected:hover::after {
    background-color: white;;
}
